.sidebar .closed {
  display: none;
}

@media (min-width: 769px) {
  .sidebar {
    background-color: #f5f5f5;
    width: 280px;
  }

  .sidebar .btn-container {
    display: none;
  }

  .sidebar .sidebar-mobile {
    display: none;
  }
}

@media (max-width: 768px) {
  .sidebar {
    background-color: #f5f5f5;
    width: 100%;
  }

  .sidebar .sidebar-web {
    display: none;
  }

  .sidebar .side-menu-btn {
    all: unset;
    width: 50px;
    height: 50px;
    padding: 2px 11px;
    cursor: pointer;
    position: relative;
    transition: 0.5s;
    margin: 0 0 0 auto;
    z-index: 20;
    background-color: transparent;
    border: none;
  }

  .sidebar .side-menu-btn span {
    display: block;
    background: linear-gradient(28deg,
        rgb(23, 85, 231) -30%,
        rgb(43, 3, 163) 70%);
    height: 3px;
    width: 27px;
    border-radius: 25px;
    margin: 8px 0;
    transition: 0.5s;
    position: relative;
  }

  .side-menu-btn.open span:first-child {
    width: 27px;
    margin: 17px 0 -1px;
    transform: rotate(45deg);
  }

  .side-menu-btn.open span:nth-child(2) {
    width: 0;
    margin: 0;
  }

  .side-menu-btn.open span:last-child {
    width: 27px;
    transform: rotate(-45deg);
    margin: -4px 0;
  }
}