.course-listing {
  display: column;
  box-sizing: border-box !important;
  width: 100%;
  box-sizing: border-box;

}

.course-listing .title h1 {
  margin-top: 0;
  font-size: 25px;
  color: gray;
  font-weight: 500;
}

.course-listing .course {
  background-color: #f5f5f5;
  margin-bottom: 1rem;

}

